@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

body, button {
    font-family: 'Russo One', sans-serif;
}

body {
    margin-top: 10%;
}

/* After load CSS */
.main {
    margin: 1em auto;
    max-width: 300px;
    background-color: #EDEDED;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Ribbon CSS */
.corner-ribbon{
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.corner-ribbon.sticky {
    position: fixed;
}
  
.corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon.top-right {
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.corner-ribbon.top-left {
    top: 25px;
    left: -50px;
    transform: rotate(-45deg);
    background-color: #03A595;
    -webkit-transform: rotate(-45deg);
}

/* IPFS text CSS */
#ipfs {
    color: #03A595;
    text-shadow: 1px 1px 2px black, 0 0 25px #03A595, 0 0 5px #03A595;
}
 
/* Input and Button CSS */
input[type='file'] {
    display: none;
}
  
.file-info {
    font-size: 0.9em;
}
  
.browse-btn {
    background: #03A595;
    color: #fff;
    min-height: 35px;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
  
.browse-btn:hover {
    background-color: white;
    color: #03A595;
    cursor: pointer;
}

#upload-btn {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
}

#upload-btn:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

/* After file added CSS */
footer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Particle CSS */
.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }

/* Ribbon CSS for screen sizes below 600px */
@media only screen and (max-width: 600px) {
    .corner-ribbon.top-right {
        top: auto;
        right: -50px;
        bottom: 25px;
        left: auto;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    
    .corner-ribbon.top-left {
        top: auto;
        bottom: 25px;
        left: -50px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}